<h2>Sign Up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <table class="noborder login_form">
    <tr>
      <td><b>Email</b></td>
    </tr>
    <tr>
      <td><%= f.email_field :email %></td>
    </tr>
    <tr>
      <td><b>Password</b></td>
    </tr>
    <tr>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <td><b>Password Confirmation</b></td>
    </tr>
    <tr>
      <td><%= f.password_field :password_confirmation %></td>
    </tr>


    <tr>
      <td>
        <%= f.submit "Sign Up", :class => "btn success login_button" %>
    </td>
  </tr>
<% end %>

<%= render :partial => "devise/shared/links" %>
